In [ ]:
pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (1.11.4)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /usr/local/lib/python3.10/dist-packages (from scipy) (1.25.2)

In [ ]:
import scipy
#ex:integration using squad func
from scipy import integrate
result,error=integrate.quad(lambda x: x**2,0,1) #0,1 is limits
print("result:",result)
print("error:",error)

result: 0.33333333333333337
error: 3.700743415417189e-15

In [ ]:
import numpy as np
from scipy import stats

# Sample data (random numbers)
np.random.seed(42)  # for reproducibility
sample_data = np.random.normal(loc=10, scale=2, size=30)  # sample of 30 observations from a normal distribution with mean 10 and standard deviation 2

# Population parameters
population_mean = 10  # hypothesized population mean

# Perform one-sample t-test
t_statistic, p_value = stats.ttest_1samp(sample_data, population_mean)

# Interpret the results
alpha = 0.05  # significance level
print("t-statistic:", t_statistic)
print("p-value:", p_value)

if p_value < alpha:
    print("Reject the null hypothesis. There is enough evidence to suggest that the sample mean differs significantly from the population mean.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to suggest that the sample mean differs significantly from the population mean.")

t-statistic: -1.1450173670383255
p-value: 0.2615641461880169
Fail to reject the null hypothesis. There is not enough evidence to suggest that the sample mean differs significantly from the population mean.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
#creating a sample data
np.random.seed(0)
data=pd.DataFrame({
    'Treatment':np.random.choice(['A','B','C'],size=100),
    'Score':np.random.normal(loc=10,scale=2,size=100)
})
print(data)

   Treatment      Score
0          A   8.626821
1          B  10.029747
2          A   9.248668
3          B   9.923553
4          B  10.735949
..       ...        ...
95         A   9.933528
96         C  10.131283
97         A  10.531571
98         B  12.303684
99         C  10.276086

[100 rows x 2 columns]

In [ ]:
#calculate the mean score for each treatment group
mean_score_per_group=data.groupby('Treatment')['Score'].mean()
print(mean_score_per_group)

Treatment
A     9.611241
B    10.099304
C    10.010667
Name: Score, dtype: float64

In [ ]:
#hypothesis testing(t-test)
group_A=data[data['Treatment']=='A']['Score']
group_B=data[data['Treatment']=='B']['Score']
t_start,p_value=stats.ttest_ind(group_A,group_B)
print("t-statistics:",t_start)
print("p-value:",p_value)

t-statistics: -1.0341676575352792
p-value: 0.3045674995802033

In [ ]:
# anova(one way anova)
import pandas as pd
import numpy as np
from scipy import stats
f_stat,p_value=stats.f_oneway(data[data['Treatment']=='A']['Score'],
                              data[data['Treatment']=='B']['Score'],
                              data[data['Treatment']=='C']['Score'])
print("F-statistics:",f_stat)
print("p-value:",p_value)

F-statistics: 0.6019178068930898
p-value: 0.5497930622874936

In [ ]:
import numpy as np
volume_data=np.random.rand(100000)
print("volume",len(volume_data))

volume 100000

In [ ]:
import time
#generate streaming data every second for 10 seconds
for i in range(10):
  velocity_data=np.random.rand(100000)
  print("volume of data",len(volume_data))
  time.sleep(1)

volume of data 100000
volume of data 100000
volume of data 100000
volume of data 100000
volume of data 100000
volume of data 100000
volume of data 100000
volume of data 100000
volume of data 100000
volume of data 100000

In [ ]:
structured_data={'id':1,'name':'rahima','age':18}
print(structured_data)
semi_structured_data={'person':{'name':'Alice','age':7,'city':'wonderland'}}
unstructured_data="this is a sample text document.it can contain any"
print(semi_structured_data)
print(unstructured_data)

{'id': 1, 'name': 'rahima', 'age': 18}
{'person': {'name': 'Alice', 'age': 7, 'city': 'wonderland'}}
this is a sample text document.it can contain any

In [ ]:
import random
#generate some random data with noise
veracity_data=[random.choice([1,2,3,None])for _ in range(20)]
print("veracity",veracity_data)

veracity [None, 1, 2, None, 3, 2, 2, None, 1, 3, None, None, 2, 2, 1, 3, None, None, 2, 1]